@font-face {
    font-family: "Montserrat";
    src: url("../font/Montserrat/Montserrat-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Syne_Mono";
    src: url("../font/Syne_Mono/Syne_Mono-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Redressed";
    src: url("../font/Redressed/Redressed-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }