// toutes les pages
// navbar
.dropdown:hover>.dropdown-menu{
    display: block;
}
// rectificatif position responsive du jumbotron
.jumbotron {
    transform:translateY(20px);
}

// carousel
    // media query carousel
.carouselDisplay{
    @include mobile-only{
        display: none;
    }
}
.colorArrow:hover{
    background: $warning;
    //color: blanchedalmond;
}
// style bordure sur les cards
.borderPlus{
    border: solid 10px $woodDarker;
}

// apparition formulaire - page panier uniquement
#block-form{
    display:none;
}

// vérification erreur formulaire
.errorDiv{
    display: flex;
    justify-content: flex-end;
}
.errorFirstName,
.errorLastName,
.errorAddress,
.errorZip,
.errorCity,
.errorCountry,
.errorEmail{
    background: $red;
    color: white;
    padding: 0px 5px ;
    display: none;
}