.borderPlus{
    border: solid 10px $dark;
}
.borderFooter{
    border: solid 5px $white;
    background: $dark;
}
.jumbotron {
    position: relative;
    top: 20px;
}
#block-form{
    display:none;
}
