.borderPlus{
    border: solid 10px $woodDarker;
}
.borderFooter{
    border: solid 5px $white;
    background: $dark;
}
.jumbotron {
    transform:translateY(20px);
}
#block-form{
    display:none;
}
